# Dependencias
node_modules/
yarn.lock
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Metro
.metro/
.expo/

# Android
android/.gradle/
android/app/build/
android/local.properties/
*.apk
*.keystore

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserstate
*.xcuserdata

# VS Code
.vscode/

# Misc
.DS_Store
*.tmp

# Variables de entorno
backend/.env

# Subproyecto mobile
mobile/mobileApp/node_modules/
mobile/mobileApp/.expo/
mobile/mobileApp/.git/

# Backend
backend/src/config/chamba-app-6dcc4-firebase-adminsdk-fbsvc-72c577a9ad.json